!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    - title = yield_content(:title)
    - title = '%s' if title.empty?
    %title= title % 'Edson Hilios'
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel: 'stylesheet', type: 'text/css'}
    = stylesheet :application
    = yield_content(:stylesheets)
  %body
    = yield
    = javascript :application
    = yield_content(:javascripts)